*{
  padding: 0;
  margin: 0;
  
}
h1 {
  color: midnightblue;

  text-align: center;
}
h2 {
  color: whitesmoke;
  background-color: midnightblue;
  padding: 20px;
  border: 10px solid mintcream;
  margin: 30px;
  text-align: center;
}

a {
  color: teal;
}

div {
  color: black;
  background-color: midnightblue;
  padding: 30px;
  border: 10px solid mintcream;
  margin: 40px;
  text-align: center;
}

.button1 {
  padding: 6px;
  border-radius: 10px;
  font-size: 15px;
}

.button2 {
  padding: 6px;
  border-radius: 10px;
  font-size: 15px;
}

.button3 {
  padding: 6px;
  border-radius: 10px;
  font-size: 15px;
}

.button4 {
  padding: 6px;
  border-radius: 10px;
  font-size: 15px;
}
